.socialMedia {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* CSS */

.container__TimeLine {
    @media(max-width: 451px) {
        margin: 10px auto;
    }
}